body {
    background-color: white;
    height: auto;
}

@media (max-width:767px) {}

@media (min-width:767px) and (max-width:990px) {}

@media (min-width:991px) {}




.logo {

    margin-left: auto;
    margin-bottom: 600%;
    width: 200px;
    height: 300px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo {

 
    width: 15%;
    height: 10%;
    margin-top: 15px;
    margin-left: 33px;
    
}

#div_cabecera {
 
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    
   
    
}


#titulo { 
    font-family: 'ProductSans';
    font-size: 800%;
    color: rgb(14, 41, 131);
    margin-top: 10px;
    margin-left: 18%;

}

#subtitulo {
 
    font-family: 'ProductSans';
    color: rgb(14, 41, 131);
    font-weight: 900;
    font-size: 25px;
    margin-left: -38%;
    margin-top: 150px;

}


* .barra_botones {
    background-color: rgb(14, 41, 131);
    margin-top: -10%;
    position: relative;
    top: 24.5%;
    width: 100%;
    height: 5%;
    

} 

* .botones_menu {
    font-size: 30px;
    display: block;
    line-height: 160%;
    padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 2%;
    position: relative;
    font-weight: 200;
    color: white;
    font-family: 'ProductSans'
} 

* .botones_menu::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 0;
    right: 0;
    bottom: 12%;
    z-index: -1;
    transform: skewX(-30deg);
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgb(14, 41, 131);
} 

* .botones_menu:hover:after {
    opacity: 1;
} 

.botones_inicio_sesion {
    height: 2%;
    margin-top:  4%;
    padding: 10px;
    border: none;
    border-radius: 5px;  
    font-family: 'ProductSans';
    background: rgb(14, 41, 131);
    
}

.textoBoton{
    color: white;
    text-decoration: none;
}

.boton_ubicacion {
    width: 200px;
    height: 50px;
    background: rgb(14, 41, 131);
    color: #dcc2e4;
    cursor: pointer;
    overflow: hidden;

}

/*Supongamos que nuestro contenedor mide 150px x 150px*/
.contenedor {
    width: 460.6px;
    height: 400px;
  
}


#div_barra_botones {
background-color:  rgb(14, 41, 131);
margin-top: 1%;
}

#ul_barra_inicio {
display: flex;

gap: 10px;

}

#ul_barra_inicio li {
    list-style: none;
}

#ul_barra_inicio a {
    text-decoration: none;
}

#imagenes {
   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-top: 10px;
}

/*Aplicamos la propiedad object-fit cover, ajustar su tamaño y no perder la proporcion de nuestra imagen*/
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ubicacion {
    width: 500px;
    height: 400px;
    margin-top: 5%;
    margin-left: 2em;
    background-color: white;
    font-size: 20PX;
    padding-left: 2%;
}


.container-footer {
    width: 110%;
    height: 60%;

    float: top;
    margin-top: 52%;
    margin-left: -15%;
}

.container-footer footer {
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer {
    text-align: center;
}

.container-footer footer .logo-footer img {
    width: 100px;
    margin-top: -2%;
}

.container-footer footer .redes-footer {
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-left: 305px;

}


.container-footer footer .redes-footer .icon-redes-footer {

    margin: 20px;
    margin-top: 340px;
    border-bottom: #dcc2e4;
    background: rgb(14, 41, 131);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
}

footer .redes-footer .fa-facebook-f:hover {
    background: #41579A;
    color: #fff;

}

footer .redes-footer .fa-twitter:hover {
    background: #2890e6;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover {
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr {
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h4 {
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

* button:hover {
    color: #00A8F3;
} 

* button span {
    position: absolute;
    background: #00A8F3;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
} */

/* @font-face {
    font-family: MortalKombat4;
    src: url(../Fuentes/MK4.TTF);
}

@font-face {
    font-family: Montserrat;
    src: url(../Alvaro_SoftKombat/Montserrat_normal.ttf);
}


@font-face {
    font-family: Montserrat_cursiva;
    src: url(../Alvaro_SoftKombat/Montserrat_cursiva.ttf);
}

@font-face {
    font-family: ProductSans-Bold;
    src: url(../softKombat/css/ProductSans-Bold.ttf);
}

@font-face {
    font-family: Product-Regular;
    src: url(../softKombat/css/ProductSans-Regular.ttf);
} */